#headerwrap 
{
    background-image:url(../img/background/software.png);
}

/*demo*/
.demo img
{
    width:500px;
    margin:5% auto;
}

/*新增作業資訊*/
#info
{
    margin-top:15px;
    display:none;
}

#info input
{
    margin-left:2px;
    width:150px;
    height:18px;
}

/*確認送出icon*/
#send
{
    display:none;
}

/*現有作業資訊*/
#hw
{
    display:none;
}

/*information*/
.button button 
{
    width: 100px;
    background-color: #1abc9c;
    border: none;
    color: white;
    font-family: "思源宋體 ExtraLight";
    font-size: 20px;
    font-weight: 200;
}

.button button:hover 
{
    background-color: darkgray;
}

.button
{
    text-align:center;
}

.button ul
{
    padding:0px;
}

.description
{
    text-align:justify;
    padding:0 150px;
    font-size:20px;
}

/*原CourseStudent.css*/
table {
    margin-left: auto;
    margin-right: auto;
}

    table th {
        padding-right: 80px;
        padding-left: 80px;
        font-size: 20pt;
    }

    table tr {
        border-bottom: 1pt solid black;
    }

        table tr td {
            margin-right: 40px;
            padding: 10px 0px;
            font-size: 20pt;
        }

.student-list td
{
    font-size:16px;
}

.student-list
{
    margin-top:30px;
}

#ta-list
{
    font-size:20px;
}

    #ta-list button {
        margin-right: 20px;
        margin-left:20px;
    }

.ta-id
{
    margin-right:40px;
}

.description-area button
{
    margin:10px 0;
}

.icon_downLoad
{
    display:none;
}

.create-ta 
{
    margin-top:20px;
}